<div class="row">
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel">
                    <div class="panel-heading"><h4><i class="glyphicon glyphicon-heart"></i> Product Issues</h4></div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="panel">
                    <div class="panel-heading"><h4><i class="glyphicon glyphicon-heart"></i> Product Trends</h4></div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading"><h4><i class="glyphicon glyphicon-signal"></i> Trends</h4></div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-heading"><h4><i class="glyphicon glyphicon-heart"></i> Filter</h4></div>
            <div class="panel-body">
                <div ng-include src="'views/filter.html'"></div>
            </div>
        </div>
    </div>
</div>